/* SOCIAL MEDIA CARD (DIV CSS) */

.social_media{
    width: 50px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #feeae5;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    margin: 100px 0px 0px 0px;
    position: fixed;
    z-index: 10;
}

.social_media > i{
    font-size: 33px;
}